.login {
    justify-content: center;
    display: flex;
    max-width: 100%;
    align-items: center;
    background-color: #FFFFFF;
    min-height: 100vh;
}

.login > * {
    flex: 1;
}

.login-left-figure {
    display: flex;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    max-height: 100%;
}

.login-left-image {
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}

.login-right {
    padding: 0 70px;
    max-width: calc(100% - 140px);
    position: relative;
    min-height: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-right-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.login-right-figure {
    display: flex;
    justify-content: center;
}

.login-right-logo {
    max-width: 100%;
    object-fit: cover;
}

.login-right-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.login-title {
    color: #5778b8;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.login-desc {
    color: #ADADAD;
    font-size: 18px;
    line-height: normal;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-label {
    color: #323232;
    font-size: 18px;
    line-height: normal;
}

.login-input  {
    border-radius: 5px;
    border: 1px solid #C2C2C2;
    height: 50px;
    padding-inline: 10px;
}

.login-submit {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    border-radius: 5px;
    height: 60px;
    background: #5778B8;
}

.login-copyright {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    text-align: center;
    color: #ADADAD;
    font-size: 18px;
    line-height: normal;
}